<div class="dashboard-card">

    <div class="card-header">

        <div>

            <h2>Brand Channel Performance</h2>

            <p>Stock, Sales, Share & DRR</p>

        </div>

    </div>

    <div class="table-wrapper">

        <table class="phoenix-table brand-channel-table">

            <thead class="brand-channel-head">

                <tr>

                    <th rowspan="2">Brand</th>

                    <th colspan="2">Stock</th>

                    <th colspan="4">Sales</th>

                    <th colspan="3">Share %</th>

                    <th colspan="3">DRR</th>

                </tr>

                <tr>

                    <th>SOR</th>
                    <th>SJIT</th>

                    <th>SOR</th>
                    <th>SJIT</th>
                    <th>PPMP</th>
                    <th>Total</th>

                    <th>SOR</th>
                    <th>SJIT</th>
                    <th>PPMP</th>

                    <th>SOR</th>
                    <th>SJIT</th>
                    <th>PPMP</th>

                </tr>

            </thead>

            <tbody class="brand-channel-body">

            </tbody>

        </table>

    </div>

</div>