<aside class="sidebar">

    <div class="sidebar-header">

        <img
            class="sidebar-logo"
            src="{{logo}}"
            alt="Myntra Analytics Logo">

        <div class="sidebar-app">

            {{appName}}

        </div>

        <div class="sidebar-tag">

            {{tagLine}}

        </div>

    </div>

    <nav class="sidebar-menu">

        
    </nav>

    <div class="sidebar-footer">

        <div class="sidebar-version">

            {{version}}

        </div>

        <div class="sidebar-made">

            Made with ❤️ by Magical CTO

        </div>

    </div>

</aside>