
.app-shell{
    display:grid;
    grid-template-columns:260px 1fr;
    min-height:100vh;
    background:#F8FAFC;
}

.app-main{

    display:flex;

    flex-direction:column;

}

.app-header{

    height:72px;

    background:#FFFFFF;

    border-bottom:1px solid #E5E7EB;

    display:flex;

    align-items:center;

    padding:0 30px;

    font-size:22px;

    font-weight:700;

}

.app-content{

    flex:1;

    padding:40px;

}